//@import "variables";

html {
  box-sizing: border-box;
  height: 100%;
  font-family: $circular;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  font-family: $circular;
  font-size: 16px;
  font-weight: 400;
  color: $charcoal;
  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
label:active.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
